# Bloqueio global de bibliotecas de terceiros (independente da pasta)
*bootstrap* linguist-vendored
*font-awesome* linguist-vendored
*fontawesome* linguist-vendored

# Garantia para arquivos minificados e assets comuns de terceiros
*.min.js linguist-vendored
*.min.css linguist-vendored